.heroContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Mobile: disposition verticale */
@media (min-width: 768px) {
    .heroContainer {
        flex-direction: row;
    }
} 